<%- include("partials/header.ejs") %>

<container class="welcome-container">
    <div class="welcomeMsg henny-penny-regular">
        <h1>Welcome <span class="light-brown"><%= yourUserName %></span> !</h1>
        <p class="chicle-regular">To the nr1 web log in the whole entire world</p>
    </div>
</container>

<%- include("partials/footer.ejs") %>